.id-chart-wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;

  min-width: 970px;
  min-height: 600px;

  overflow-x: hidden;
  overflow-y: scroll;
}

.id-chart-wrapper .geo-chart {
  width: 100%;
  box-sizing: border-box;
  min-height: 500px;
}

.id-chart-wrapper .simple-chart {
  box-sizing: border-box;
  height: 500px;
  min-width: 49%;
  max-height: 400px;
  border-radius: 5px;
  padding: 50px 10px 10px 10px;
}

.id-chart-wrapper .id-inner-section {
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 5px;
}

.id-chart-wrapper .id-inner-section .id-data-head-icon {
  width: 20px;
  height: 20px;
}

.id-chart-wrapper .id-inner-section .headline {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
  font-size: 13px;
}
