.id-detail-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 30px;
  min-width: 1000px;
  overflow: scroll;
}

.id-detail-wrapper .account-type {
  position: absolute;
  top: 25px;
  right: -40px;
  width: 150px;
  height: 23px;
  background-color: #1e6823;
  transform: rotate(45deg);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efe7e5;
  font-weight: bold;
  font-size: 12px;
}

.id-detail-wrapper .id-detail-header-info {
  width: 100%;
  height: 150px;
  min-height: 150px;
  background-color: #00000090;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.id-detail-header-info .user-meta-info {
  width: 300px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: lime; */
  padding-left: 20px;
  column-gap: 20px;
}

.react-calendar-heatmap {
  width: 650px;
}

.react-calendar-heatmap .color-scale-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-scale-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-scale-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-scale-4 {
  fill: #1e6823;
}

/* .id-detail-header-info .calender {
  width: 500px;
  height: 180px;
} */

.id-detail-header-info .user-meta-info .profile {
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
}

.id-detail-header-info .user-meta-info .profile #account-name {
  font-size: 20px;
  font-weight: bold;
}

.id-detail-header-info .user-meta-info .profile #account-id {
  padding-top: 5px;
  font-size: 10px;
  color: #777;
}

.id-detail-header-info .user-meta-info .profile #register-date {
  padding-top: 20px;
  font-size: 10px;
  color: #777;
}

.id-detail-header-info .user-meta-info #avatar {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.id-detail-wrapper .id-detail-header-info .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
}

.id-detail-wrapper .id-detail-stat-info {
  box-sizing: border-box;
  column-gap: 1%;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-detail-area {
  box-sizing: border-box;
  column-gap: 1%;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.id-timeline-chart {
  box-sizing: border-box;
  padding: 50px 10px 10px 10px;
  width: 80%;
}
