.trend-wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  row-gap: 10px;
  overflow-y: scroll;
}

.trend-wrapper .trend-summary-info {
  box-sizing: border-box;
  width: 100%;
  min-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}
